#background{
    background-color: #DAA520;
    /* background-color:white;*/
 }
 #NB{
     background-color: black;
     margin-top: 0px;
     padding-left: 0px;
     font-size:12px;
     color: #DAA520;
 }
 #box{
     padding-bottom:0px;
     border-color: black;
     border-style: solid;
     border-width:5px;
 
 }
 #T{
     font-size:24px;
     color:black;
    
 }
 #H{
  font-size:24px;
  color:black;
 
  
 }
 #E{
     font-size:24px;
  color:black;
 
 }
 .tA{
     text-align:center;
 }
 .tL{
     text-align:center;
     padding-left:50px;
 }
 .BD{
     
    background-color:#DAA525;
     border-color: #DAA530;
     /*background-color:#f7f7f7;
     border-color:#f9f9f9;*/
     border-style: solid;
     border-width:5px;
     padding-bottom:800px;
     /* #f7f7f7  #f9f9f9*/
     
    
 }
 #sBox{
     margin:0px;
     font-size:20px;
     
     margin-left:20px;
 }
 #mBox{
   margin:0px;
   margin-right:20px;
   font-size:20px;
   
 }
 #s2Box{
     font-size:20px;
 margin:0px;
 margin-right:20px;
 
 
 }
 .mbox{
     padding-left:0px;
     padding-right:0px;
     
 }
 .smbox{
     padding-left:5px;
     padding-right:5px;
    
 }
 .PP{
     padding-left:100px;
 }
 .LB{
     background-color:#DAA525;
     border-color: #DAA530;
     border-style: solid;
     border-width:5px;
 
     padding-bottom:400px;
 }
 #bH{
     padding: 50px;
    
 }
 .SP{
     padding-bottom:12px;
 }
 .SMT{
     font-size: 12px;
     color:white;
      background-color:black;
 }
 #lowerP{
     text-align:center;
     font-size:18px;
 }
 .MD{
    
     padding-left:50px;
 }
 TL{
     text-align: right;

}

#contactBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #homeBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #scheduleBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #forumBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #aboutBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #staffBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #recordsBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #logBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #signBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
  #galleryBtn{
    background-color: black;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    /*margin: 4px 2px;*/
    cursor: pointer;
  }
#logInBtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#modalLogBtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}






/* Bordered form */
form {
    border: 3px solid gold;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
